@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  /*  нові кольори */
  --color-ua-blue: #0057b7;
  --color-ua-yellow: #ffd700;
  --color-nl-red: #ae1c28;
  --color-nl-blue: #21468b;

  /* Стандартні змінні */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-gray-50: #f9fafb;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-700: #374151;
  --color-gray-800: #1f2937;
  --color-gray-900: #111827;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-orange: #ffa500;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@media (max-width: 640px) {
  .card {
    touch-action: manipulation;
  }
}

/* Робимо контейнер слайда більшим */
.yarl__slide_image {
  min-width: 95vw !important; /* 95% ширини екрана */
  min-height: 90vh !important; /* 90% висоти екрана */
}

@media (min-width: 680px) {
  .yarl__slide_image {
    width: auto;
    height: auto;
    object-fit: contain;
  }
}
