@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  /*  нові кольори */
  --color-ua-blue: #0057b7;
  --color-ua-yellow: #ffd700;
  --color-nl-red: #ae1c28;
  --color-nl-blue: #21468b;

  /* Стандартні змінні */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 640px) {
  .card {
    touch-action: manipulation;
  }
}
