@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  /*  нові кольори */
  --color-ua-blue: #0057b7;
  --color-ua-yellow: #ffd700;
  --color-nl-red: #ae1c28;
  --color-nl-blue: #21468b;

  /* Стандартні змінні */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@media (max-width: 640px) {
  .card {
    touch-action: manipulation;
  }
}

/* Робимо контейнер слайда більшим */
.yarl__slide_image {
  min-width: 95vw !important; /* 95% ширини екрана */
  min-height: 90vh !important; /* 90% висоти екрана */
}

@media (min-width: 680px) {
  .yarl__slide_image {
    width: auto;
    height: auto;
    object-fit: contain;
  }
}
